body{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

}

.container {
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    padding: 5%;
}
.buttonRed {
    background-color: red;
    border-bottom-left-radius: 200px;
    width: 200px;
    height: 200px;
    
}

.buttonBlue {
    border-bottom-right-radius: 200px;
    background-color: blue;
    width: 200px;
    height: 200px;

}

.buttonGreen {
    background-color: green;
    border-top-right-radius: 200px;
    width: 200px;
    height: 200px;

}


.buttonYellow {
   background-color: yellow;
    border-top-left-radius: 200px;
    width: 200px;
    height: 200px;
}


.button1{
    background-color: red;
}
.button2 {
    background-color: green;
}

.controls {
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 100px;
    flex-wrap: wrap;
    padding: 5%;
}